.additional-requests {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  border: none;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 54px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 95px;
    }


  }

  &__item {

  }
}
