
.additional-product-list {
padding: 0;

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    grid-column: 1 / 3;
    .fonts-title;
    .font(16px; 16px; 400; #222222);
    font-family: 'Oswald', 'Arial', sans-serif;
  }

  &__quality {
    .fonts-paragraph;
    .font(14px; 14px; 400; #444444);
  }

  &__value {
    .fonts-paragraph;
    .font(14px; 14px; 400; #444444);
  }

  &__button {
    grid-column: 1 / 3;
    height: 40px;
  }
}
