.address {
  display: flex;
  flex-direction: column;

  &--background-white {
    background-color: #ffffff;
  }

  &--background-grey {
    background-color: #f2f2f2;
  }


  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 95px;
    padding-bottom: 107px;
  }

  &__container {

    @media (min-width: @desktop-width) {
      position: relative;
      z-index: 1;
      .width-for-desktop;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 26px 20px;

    @media (min-width: @tablet-width) {
      padding: 56px 70px;
    }

    @media (min-width: @desktop-width) {
      display: inline-flex;
      gap: 100px;
      padding: 56px 60px 56px 80px;
      background-color: #ffffff;
    }

  }

  &__title {
    .fonts-title;
    .font(20px; 26px; 400; #111111);
    text-transform: uppercase;
    margin: 0;

    @media (max-width: @mobile-width-only) {
      .fonts-title;
      .font(16px; 20px; 400; #111111);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    .fonts-paragraph;
    .font(16px; 20px; 400; #444444);
    margin: 0;


    @media (max-width: @mobile-width-only) {
    .fonts-paragraph;
    .font(14px; 20px; 400; #444444);
    height: 60px;
    }

  }

  &__city {

  }

  &__map {
    background-color: gray;
    height: 400px;
    width: 100vw;

    @media (max-width: @mobile-width-only) {
      height: 362px;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      left: 0;
      top: 0;
    }

  }
}
