.catalog-page {



  &__title {
    margin-top: 27px;
    margin-bottom: 41px;
    .grid-margin;
    .fonts-title;
    .font(36px; 36px; 400; #000000);

  }

  &__list {

  }

  &__banner {
    margin: 35px auto;
  }
}
