.catalog {
  &__list {

  }

  &__title {
    display: block;
    .grid-margin;
    margin-top: 25px;
    .fonts-title;
    .font(24px; 24px; 400; #000000);
    padding-bottom: 36px;
    border-bottom: 1px solid #cdcdcd;
  }
}
