.hero-block-text {
  &__title {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
  }

  &__subtitle {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  &__image {

  }

  &__button {

  }
}
