.main-header {
  background-color: #ffffff;
  .grid-margin;

  @media (max-width: @mobile-width-only) {
    position: relative;
    padding-top: 12px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    .width-for-desktop;
  }

  &--grey-line {
    @media (max-width: @mobile-width-only) {
      border-bottom: 1px solid #d9d9d9;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

  }


}
