.main-footer {
  background-color: #f2f2f2;
  padding: 66px 0;

  @media (max-width: @mobile-width-only) {
    padding: 40px 0;
  }

  @media (min-width: @tablet-width) {
    padding: 55px 0;
  }


  &__container {
    display: flex;
    justify-content: space-between;
    .grid-margin;

    @media (max-width: @mobile-width-only) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    @media (min-width: @desktop-width) {
      .width-for-desktop;
    }
  }

  &__logo-catenergy {

  }

  &__social-buttons {

  }

  &__copyright {

  }
}
